.form-modal {
  display: flex;  
  align-items: baseline;
  margin: 25px;
  margin-left: 52px;
}

.normal-modal {
  display: flex;
  align-items: baseline;
  margin: 25px;
  margin-left: 52px;
}

.all-sizemodal {
  display: flex;
  align-items: baseline;
  margin: 25px;
  margin-left: 52px;
}
